body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.header a{
    text-decoration: none;
    color: white;
}

.header label{
    color: white;
}

.header{
    background: #1d1e1d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 20px;
}

.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover{
    background: black;
    color: white;
    text-shadow: thistle 3px;
}

.login{
    display: flex;
    flex-direction: column;
}

.password{
    background-image: url(img/cadeado.png);
    padding-left: 20px;
    width: 120px;
}

.user{
    width: 120px;
    padding-left: 20px;
}

.username{
    background: url(/img/cadeado.png);
}

/* Estilização da pagina de cadastro */

.info_login{
    display: inline;
    border: none;
}