body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: #1d1e28;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header a{
    color: white;
    text-decoration: none;
}

.menu{
    display: inline;
    background: blue;
    color: black;
    border: 1px solid red;
}
.menu ul li a{
    display: inline;
}
.menu a{
    color: black;
    text-decoration: none;
}

.menu a:visited{
    color: black;
}


